*{
    margin: 0;
    padding: 0;
}

html{
    scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: mandatory;
	-webkit-scroll-snap-points-y: repeat(100vh);
	-webkit-scroll-snap-type: y mandatory;
}

body {
    font-family: 'Raleway', sans-serif;;
    margin:0;
    padding: 0;
  }

 /* NAVIGATION BAR */

nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -10px 20px 0px black;
    z-index: 10;
}

.logo{
    display: flex;
    height: 7vh;
    max-width: 400px;
    align-items: center;
    text-transform: uppercase; 
}

.logo a{
    display: flex;
}

.logo img{
    height: 4rem;
}

.logo svg{
    fill: #000000;
    stroke: #000000;
    max-height: 6vh;
    min-height: 60px;
}

.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nav-links a{
    color: #000000;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 400;
    transition: all 300ms ease;
    font-family: 'Poppins', sans-serif;
}

.nav-links a:hover{
    color:rgb(180, 180, 180);
    font-weight: 500; 
}

.nav-links li{
    list-style: none;
}

.burger{
    display: none;
}

.burger div{
    width: 30px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

 /* MAIN */

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes h1Fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideIn{
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0);
    }
}

/* ARROW BOUNCE*/
@keyframes bounce {
    10%{
        opacity: 1;
    }

    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

i{
    display: block;
    color: rgba(255, 255, 255, 0.5);
  }

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
    width: 40px;
    height: 60px; 
  }
  
.bounce {
    animation: bounce 2s infinite;
    animation-delay: 5s;
  }

/* QUESTIONS-- */
.question{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
}

.question h1{
    font-size: 4rem;
    font-weight: 400;
    color: white;
    text-shadow: 0.1rem 0.1rem 1rem rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 1rem;
    width: 100%;
    opacity: 0;
}

#q1{
    animation: h1Fade 1s ease-in;
    opacity: 1;
}

.one{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),url(./imgs/Q1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.two{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/Q2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.three{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/Q3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.four{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/Q4.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* --QUESTIONS */

/* ANSWERS-- */
.answer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    scroll-snap-align: end;
    padding: 0 3rem;
}

.text{
    width: 40rem;
    min-width: 18rem;
    font-size: 1.5rem;
    opacity: 0;
    padding-right: 2rem;
}

.smallimg{
    width: 30rem;
    height: 30rem;
    min-width: 480px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 5px;
}

.smallimg img{
    height: 100%;
    width: 100%;
}
/* --ANSWERS */


/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
    width: 100%;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    scroll-snap-align: end;
}

footer img{
    height: 5vh;
    min-height: 40px;
    padding: 5px;
}

.social{
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.social i{
    color: black;
    text-align: center;
}

.social i:hover{
    color: rgb(180, 0, 0);
    transition: all 300ms ease;
}

#facebook:hover{
    color: #0261DB;  
}

footer a{
    font-style: none;
    color: black
}

::-webkit-scrollbar{
    display: none;
}


/* -- MEDIA QUERIES -- */
@media (prefers-color-scheme: dark){
    nav,
    .navbackground,
    .nav-links li,
    .nav-links a,
    .nav-active,
    .answer,
    footer,
    .social i{
        color: white;
        background-color: black;
    }
    
    .logo img,
    footer img{
        filter: invert(100%);
    }

    .burger div{
        background-color: white;
    }
}
@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: fixed; 
        z-index: 10;
        top: 5rem;
        height:100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: block;
        padding: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;
        transform-origin: top;
        transform: scale(1,0);
        transition: all 0.5s ease;
    }
    .nav-links li{
        height: 10%;
        text-align: center;
        padding: 2rem 0;
    }

    .nav-links a{
        font-size: 1.5rem;
        opacity: 0;
    }

    .nav-active a{
        opacity: 1;
        transform: translateY(-1rem);
        transition: all 0.5s ease;
    }

    .burger{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20px;
        cursor: pointer;
    }

    .answer{
        flex-direction: column;
        height: 100vh;
    }

    .text{
        margin-top: 7vh;
        width: 90%;
    }

    .smallimg{
        min-height: 500px;
    }
}

@media screen and (max-width:1024px) and (max-height: 859px){
    .text{
        margin-top: 7vh;
        width: 90%;
    }
    .smallimg{
        display: none;
    }
}

/*  IPHONE X */
@media screen and (max-width:375px) and (max-height: 812px){
    * { 
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    html{
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: proximity;
	    scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y proximity;
        
    }
    nav{
        width: 100%;
        height: 3rem;
        transition: all 0.5s;
        position: fixed;
        z-index: 10;
    }

    .logo{
        height: 3rem;
    }

    .logo img{
        height: 2.7rem;
    }

    .nav-links{
        top: 3rem;
    }

    .nav-active a{
        font-size: 1.5rem;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        transition: all 0.3s ease;
    }

    .question{
        height: 100vh;
    }

    .question h1{
        font-size: 2.5rem;
        padding-bottom: 5rem;
    }

    .one{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),url(./imgs/Q1.jpg);
        background-size: cover;
    }
    
    .two{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/Q2.jpg);
        background-size: cover; 
    }
    
    .three{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/Q3.jpg);
        background-size: cover;  
    }
    
    .four{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/Q4.jpg);
        background-size: cover; 
    }

    .answer{
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: white;
    }

    .text{
        width: 100%;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }

    .text p{
        margin: 2rem 1rem;
    }
    
    .smallimg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 40%;
        min-width: 0;
        min-height: 0;
        box-shadow: none;
    }

    .smallimg img{
        height: 100%;
        width: 100%;
        min-width: 0;
        min-height: 0;
        
    }

    footer{
        height: 50vh;
        flex-direction: column;
        padding-bottom: 5rem;
    }

    .social{
        width: 100%;
    }
}

.nav-active{
    transform-origin: top;
    transform: scale(1,1);
    opacity: 1;
}



/* NAV BURGER */
.toggle .line1{    
    transform: rotate(-45deg) translate(-1px,9px);
}
.toggle .line2{    
    opacity: 0;
}
.toggle .line3{    
    transform: rotate(45deg) translate(-1px,-9px);
}