 
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

 /* NAVIGATION BAR */

nav{
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    min-height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -10px 20px 0px black;
    z-index: 5;
}

.logo{
    display: flex;
    max-height: 7vh;
    max-width: 400px;
    align-items: center;
    text-transform: uppercase; 
}

.logo a{
    display: flex;
}

.logo img{
    max-height: 6vh;
    min-height: 60px;

}

.logo svg{
    fill: #000000;
    stroke: #000000;
    max-height: 6vh;
    min-height: 60px;
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
    transition: all 750ms linear 200ms;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: all 100ms linear;
    font-family: 'Poppins', sans-serif;
}

.nav-links a:hover{
    color:rgb(180,180,180);
    font-weight: 1000;     
}

.nav-links li{
    list-style: none;
}

.burger{
    display: none;
}

.burger div{
    width: 30px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

/* NAV LINKS */

    .nav-links{
        position: absolute;
        right: 0px;
        top: 5vh;
        height:30vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* NAV BURGER */
.toggle .line1{    
    transform: rotate(-45deg) translate(-1px,9px);
}
.toggle .line2{    
    opacity: 0;
}
.toggle .line3{    
    transform: rotate(45deg) translate(-1px,-9px);
}


 /* MAIN */

main{
    font-family: 'Raleway', sans-serif;
    position: relative;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

/* QUESTIONS-- */
.question{
    width: 100%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.question h1{
    font-size: 4rem;
    color: white;
    text-shadow: 0.2rem 0.5rem 1rem black;
}

.one{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/slide1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.two{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/slike\ mikrocement/q2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.three{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/slike\ mikrocement/q3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.four{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imgs/slike\ mikrocement/q4.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* --QUESTIONS */

/* ANSWERS-- */
.answer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35rem;
}

.text{
    width: 40rem;
    font-size: 1.5rem;
}

.smallimg{
    width: 30rem;
    height: 30rem;
    overflow: hidden;
}

.smallimg img{
    
    width: 100%;
}
/* --ANSWERS */


/* EACH SLIDE INDIVIDUALLY */

#slide1{
    background-image: url(./imgs/slide1.jpg);
    background-attachment: fixed;
}
#slide2{
    background-image: url(./imgs/slide2.jpg);
    
}
#slide3{
    background-image: url(./imgs/slide3.jpg);
    background-attachment: fixed;
}
#slide4{
    background-image: url(./imgs/slide4.jpg);
    
}


/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
    min-height: 50px;
    font-size: 0.7rem;
    background-color: white;
}

footer img{
    height: 5vh;
    min-height: 40px;
    padding: 5px;
}

.social{
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

footer a{
    font-style: none;
    color: black
}

